<a href="https://colab.research.google.com/github/zjzsu2000/CMPE297_AdvanceDL_Project/blob/main/Data_Preprocessing/data_preprocessing_part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import io
import os
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
name = 'AMD_option_sigma'
option = pd.read_csv('/gdrive/My Drive/Data set/Option/sigma_file/'+name+'.csv')
DSG_data = pd.read_csv('/gdrive/My Drive/Data set/Option/DGS/DSG_ALL.csv')

In [ ]:
option

       UnderlyingSymbol  UnderlyingPrice Exchange  ...  sigma_10  sigma_21  sigma_30
0                   AMD            10.98        W  ...       NaN       NaN       NaN
1                   AMD            10.98        W  ...       NaN       NaN       NaN
2                   AMD            10.98        W  ...       NaN       NaN       NaN
3                   AMD            10.98        W  ...       NaN       NaN       NaN
4                   AMD            10.98        W  ...       NaN       NaN       NaN
...                 ...              ...      ...  ...       ...       ...       ...
295935              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295936              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295937              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295938              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295939              AMD            30.45        *  ...  0.037583   0.02923  0.027146

[295940 rows x 24 columns]

In [ ]:
from datetime import datetime
def datetime_cal(date_str):
    return datetime.strptime(date_str,'%m/%d/%Y')

def datetime_diff(row):
  row['date_diff'] = row.apply(lambda _: '', axis=1)
  for i in range(len(row)):
    row['date_diff'][i] = (datetime_cal(row["Expiration"][i]) - datetime_cal(row["DataDate"][i].split(' ')[0])).days

In [ ]:
datetime_diff(option)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
diff_option = option

In [ ]:
def datetime_cal2(date_str):
    return datetime.strptime(date_str,'%Y-%m-%d')

In [ ]:
def add_treasury_rate(row):
  row['treasury_rate'] = row.apply(lambda _: '', axis=1)
  for i in range(len(row)):
    for k in range(len(DSG_data)):
      if datetime_cal(row["DataDate"][i].split(' ')[0]) == datetime_cal2(DSG_data["DATE"][k]):
        if row["date_diff"][i] <= 45:
            select = 'DGS1MO'
        elif row["date_diff"][i] <= 135:
            select = 'DGS3MO'
        elif row["date_diff"][i] <= 270:
            select = 'DGS6MO'
        elif row["date_diff"][i] <= 547:
            select = 'DGS1'
        elif row["date_diff"][i] <= 912:
            select = 'DGS2'
        else:
            select = 'DGS3'
        row['treasury_rate'][i] = DSG_data[select][k]

In [ ]:
add_treasury_rate(diff_option)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
diff_option.to_csv('/gdrive/My Drive/Data set/Option/Tresury_rate/'+name+'_TresuryRate.csv')

In [ ]:
diff_option

       UnderlyingSymbol  UnderlyingPrice  ... date_diff treasury_rate
0                   AMD            10.98  ...         3          1.29
1                   AMD            10.98  ...         3          1.29
2                   AMD            10.98  ...         3          1.29
3                   AMD            10.98  ...         3          1.29
4                   AMD            10.98  ...         3          1.29
...                 ...              ...  ...       ...           ...
295935              AMD            30.45  ...       597          1.89
295936              AMD            30.45  ...       597          1.89
295937              AMD            30.45  ...       597          1.89
295938              AMD            30.45  ...       597          1.89
295939              AMD            30.45  ...       597          1.89

[295940 rows x 26 columns]