<a href="https://colab.research.google.com/github/zjzsu2000/CMPE297_AdvanceDL_Project/blob/main/Data_Preprocessing/LSTM_preprocess_appendSIGMAdays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:

name = 'VCYT'
option = pd.read_csv('/gdrive/My Drive/Data set/Option/call_put/'+name+'_option_sigma_TresuryRate_put.csv')
underlying = pd.read_csv('/gdrive/My Drive/Data set/Option/underlying/'+name+'_underlying.csv')

In [ ]:
#option = pd.read_csv('/gdrive/My Drive/Data set/Option/WIX_put-options-black-scholes.csv')
#underlying = pd.read_csv('/gdrive/My Drive/Data set/Option/WIX_underlying.csv')

In [ ]:
call_df = option

In [ ]:
N_TIMESTEPS = 21
padded = np.insert(underlying.UnderlyingPrice.values, 0, np.array([np.nan] * N_TIMESTEPS))
rolled = np.column_stack([np.roll(padded, i) for i in range(N_TIMESTEPS)])
rolled = rolled[~np.isnan(rolled).any(axis=1)]
rolled = np.column_stack((underlying.DataDate.values[N_TIMESTEPS - 1:], rolled))
price_history = pd.DataFrame(data=rolled)
joined = option.join(price_history.set_index(0), on='DataDate')

In [ ]:
joined.tail()

       Unnamed: 0  Unnamed: 0.1 UnderlyingSymbol  ...    19     20     21
12536       25199         25199             VCYT  ...  31.5  31.19  31.24
12537       25201         25201             VCYT  ...  31.5  31.19  31.24
12538       25203         25203             VCYT  ...  31.5  31.19  31.24
12539       25205         25205             VCYT  ...  31.5  31.19  31.24
12540       25207         25207             VCYT  ...  31.5  31.19  31.24

[5 rows x 49 columns]

In [ ]:
joined.to_csv('/gdrive/My Drive/Data set/Option/underlying/put/'+name+'_underlying_put.csv')